<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Activities.Extensions" version="2.0.0.13" targetFramework="net45" />
  <package id="Microsoft.Activities.UnitTesting" version="2.0.6.9" targetFramework="net45" />
  <package id="Selenium.Support" version="3.14.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.14.0" targetFramework="net45" />
  <!-- 
Most recent versions of 'Newtonsoft.Json' package (10.0.3 and above) require NuGet client version '2.12' or above, but the current NuGet version is '2.8.60717.93' 
In addition, older version of NuGet don't support .net standard leding to the warning:
'Newtonsoft.Json' already has a dependency defined for 'Microsoft.CSharp'. Latest compatible version: '9.0.1'
https://github.com/JamesNK/Newtonsoft.Json/issues/1265
-->
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
</packages>
