<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Activities.Extensions" version="2.0.0.13" targetFramework="net45" />
  <package id="Microsoft.Activities.UnitTesting" version="2.0.6.9" targetFramework="net45" />
  <package id="Selenium.Support" version="4.8.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="4.8.0" targetFramework="net45" />
  <!-- 
Most recent versions of 'Newtonsoft.Json' package (10.0.3 and above) require NuGet client version '2.12' or above, but the current NuGet version is '2.8.60717.93' 
In addition, older version of NuGet don't support .net standard leding to the warning:
'Newtonsoft.Json' already has a dependency defined for 'Microsoft.CSharp'. Latest compatible version: '9.0.1'
https://github.com/JamesNK/Newtonsoft.Json/issues/1265
-->
	<!-- The 'Newtonsoft.Json 13.0.1' 
package requires NuGet client version '2.12' or above. 
The one bundled with SharpDevelop 
is NuGet version is '2.8.60717.93'. install specific package manually outside of SharpDevelop
NOTE;  nuget itself may run on more recent releases of .Net than available / desired 

try the oldest qualifying 

nuget.exe v3.3.0 from https://dist.nuget.org/win-x86-commandline/v3.3.0/nuget.exe
the run the commands:

cd Extensions
%USERPROFILE%\Downloads\nuget.exe restore
if an error is returned:
Cannot determine the packages folder to restore NuGet packages. Please specify either -PackagesDirectory or -SolutionDirectory.
ansert with the extra argument
%USERPROFILE%\Downloads\nuget.exe restore -SolutionDirectory C:\developer\sergueik\chrome_page_performance_sqlite
robocopy.exe packages\ ..\packages  /s

ignore the message from nuget.exe:
MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBuild\14.0\bin'.
and remove the leftover solution file "Extensions.sln"
the error 
The 'Newtonsoft.Json 13.0.1' package requires NuGet client version '2.12' or above, but the current NuGet version is '2.8.60717.93'.
Exited with code: 1
should disappear
-->
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
</packages>
